{% extends 'base.html.twig' %}

{% block title %}Activate Your Account{% endblock %}

{% block body %}
    <h1>Welcome, {{ user.email }}</h1>
    <p>Your account has been successfully created.</p>
{% endblock %}
