<!DOCTYPE html>
<html>
<head>
    <title>Set Your Password</title>
</head>
<body>
    <h1>Set Your Password</h1>
    <p>Hello {{ user.fullName }},</p>
    <p>You have been added as a user in our system. Please click the link below to set your password:</p>
    <p><a href="{{ path('reset_password', {'token': token}) }}">Set Password</a></p>
    <p>If you did not request this, you can safely ignore this email.</p>
    <p>Thank you!</p>
</body>
</html>
